# Supabase Configuration
VITE_SUPABASE_URL=https://utubvklhhyhammglhdue.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0dWJ2a2xoaHloYW1tZ2xoZHVlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0MTQ0MDYsImV4cCI6MjA2NTk5MDQwNn0.4lSL78pQAQNuiuZbuDkVdctljsIZ3ArYCmgFPuyjRJ0
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV0dWJ2a2xoaHloYW1tZ2xoZHVlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDQxNDQwNiwiZXhwIjoyMDY1OTkwNDA2fQ.PI_XPa20Nr5kAhMwOnOrRheuvfC3f-seB0T2-nfsg7s